/* GENERAL STYLES */

html, body {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
.container {
    margin: 0 auto;
    width: 960px;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    line-height: 1.8em;
    font-size: 16px;
}
p{
    font-size: 14px;
    line-height: 1.3em;;
}

/* HEADER */
.page-header{
    background: linear-gradient(0deg, rgba(240,133,56,1) 0%, rgba(247,205,71,1) 90%);
    padding: 30px 0;
}
.page-header h1, h2{
    color: rgb(27, 27, 27);
    text-align: center;
}

/* NAV MENU */
.page-navigation{
    background-color: #222;
    border-color: #101010;
    min-height: 64px;
    position: sticky;
    top: 0;
}
.page-navigation li{
    float: left;
    width: 100px;
}
.page-navigation a{
    display: block;
    color: #c0bdbd;
    line-height: 4em;
    font-weight: bold;
    text-align: center
}
.page-navigation li a:hover{
    color: rgb(240,113,56);
    background-color: black;
}

/* SEARCH FORM */
.search-form{
    padding: 15px 0;
    float: right;
}
.search-form input[type="text"]{
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    width: 240px;
}
.search-form input[type="submit"]{
    padding: 5px 15px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px 20px;
}
.search-form input[type="submit"]:hover,
button:hover{
    background-color: lightgrey;
    border: 2px solid rgb(240,113,56);
}

/* MAIN SECTION: BOTH MAIN AND ASIDE */
.main-plus-aside-box{
    
}





/* MAIN SECTION: ASIDE */
.page-aside{
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
    position: sticky;
    top: 94px;
}
.page-aside div:first-child{
    width: 100%;
}
.page-aside a{
    padding: 5px 20px;
    color: black;
}
.page-aside a:visited{
    color: black;
}

.page-aside a:hover{
    color: rgb(240,113,56);
    font-size: 110%;
}

/* MAIN SECTION: MAIN */
main {
    position: sticky;
    top: 94px;
}
.main-content{
    margin-top: 30px;
    margin-bottom: 30px;
  /*  overflow: scroll; */
}
.main-content div:first-child h3{
    margin-top: 0;
}
ul.red-cross-mark li span{
    color: red;
}


ul.green-tick-mark li span{
    color: green;

}

/* FOOTER */
.footer{
    background: linear-gradient(0deg, rgba(247,205,71,1) 0%, rgba(240,133,56,1) 83%);
    color: white;
    padding: 40px 0;
    margin: 30px 0;
    min-height: 24px;
}
.footer li{
    float: left;
    width: 100px;
}
.footer a{
    display: block;
    color:black;
    font-weight: bold;
    text-align: center
}
.footer li a:hover{
    color: rgb(240,113,56);
    background-color: black;
}